body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
#header{
font-size: 70px;
font-weight: bolder;
font-family: 'Permanent Marker', cursive;
color: tomato;
text-align: center;


}
.orange-color{
    color: orange;
}
.big-text{
    font-size: 70px;
}

.gradient-button{
text-decoration: none;
background-image: linear-gradient(tomato, orange) ;
padding: 10px 30px;
font-size: 20px;
font-weight: 500;
color: white;
border-radius: 30px;


}

.first-section{
display: flex;
padding: 0 5%;

}
.half-div{
    width: 50%;
    padding: 5%;
  
    
}
.first-half img{
width: 100%;

}
h3{

    color: #3a2f2fc2;
}
.second-section{
    display: flex;
    margin-top: 30px;
    background-image: url(photos/background.png);
    background-repeat: no-repeat;
  background-position: left;
   background-size: 100% 100%;
}
h2{
    font-size: 35px;
    color: gray;
}
#male-photo{
    padding-bottom: 0%;
}
.third-section{
    text-align: center;
padding: 30px 120px;
}
.fourth-section{
    width: 100%;
    padding: 0 8%;
    display: flex;
    margin-bottom: 50px;

}
.one-third{
    width: 22%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(41, 37, 37);
    padding:15px;
    margin: 0% 2%;

}
.last-image{
    padding: auto;


}
.last-image img{
    width: 100%;
    border-radius: 20px;
    height: 250px;
    
}
.fifth-section{
    width: 80%;
   border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(41, 37, 37);
display: flex;
margin: auto;
margin-bottom: 70px;


}


.recipie{
    color: black;
}
.like-count{
font-size: 50px;
padding: 0;
margin: 0;

}
.count-div{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-top: 40P;


}
footer{
text-align: center;
width: 100%;
height: 100px;
background-color: black;
color: tomato;
padding-top: 30px;
padding-bottom: 50px;

}
footer h1 span{

color: orange;

}
footer p{ font-size: 25px;
    color: cyan;

}

.review h1{
    padding: 0;
    margin: 0;

}
.review{
text-align: center;
    width: 80%;
    margin: 20px auto 40px;
    border-radius: 20px;
box-shadow: 5px 5px 20px rgb(41, 37, 37); ;

}
